@model IEnumerable<Restaurant.Models.Dish>

@{
    ViewBag.Title = "Dishes";
}
<p>
    <p>
        @Html.ActionLink("Create", "Create", new {@class = "alert-link"})
    </p>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Dishname)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th scope="col"></th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dishname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.DishId}, new {@class = "alert-link"}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.DishId}, new {@class = "alert-link"})
                </td>
            </tr>
        }

    </table>
</p>